@charset "utf-8";
.btn{
    text-decoration: none;
    padding:10px 25px;
    font-size:16px;
    display:inline-block;
    margin: 30px 80px ;
}
body{
    margin:0;
    padding:0;
}
.arkaplan{
    width:100%;
    height:150px;
    background-color:rgb(135, 7, 7);
}
.anasayfa{
    display:flex;
    align-items:flex-start;
    color:rgb(135, 7, 7);
    gap:30px;
    
}
.başlık{
    color:rgb(135, 7, 7);
    border:0px;
    font-size:25px;
    padding:10px 620px 70px;
}
.antalya{
    margin:15px 25px;
    border:white;
    color:blue;
}
.index-outline{
    background-color: white;
    border:1px solid rgb(135, 7, 7);
    color:rgb(135, 7, 7);
}
.index-outline:hover{
    opacity:0.7;
}
.hakkimda-outline{
    background-color:white;
    border: 1px solid rgb(135, 7, 7);
    color:rgb(135, 7, 7);
}
.hakkimda-outline:hover{
    opacity:0.7;
}
.blog-outline{
    background-color: white;
    border:1px solid rgb(135, 7, 7);
    color:rgb(135, 7, 7);
}
.blog-outline:hover{
    opacity:0.7;
}
.galeri-outline{
    background-color: white;
    border:1px solid rgb(135, 7, 7);
    color:rgb(135, 7, 7);
}
.galeri-outline:hover{
    opacity:0.7;
}
.iletisim-outline{
    background-color: white;
    border: 1px solid rgb(135, 7, 7);
    color:rgb(135, 7, 7);
}
.iletisim-outline:hover{
    opacity:0.7;
}
.antalyafoto{
    margin:30px 80px;
    border:1px solid white;
}
.foto-yazı1{
    display:flex;
    align-items:flex-start;
    color:rgb(135, 7, 7);
    gap:30px;
}
.blog{
    margin:30px 400px;
}
.blog-yazı{
    color: #65B0C4;
}
.çizgi{
    width:100%;
    height:1.6px;
    background-color:rgb(135, 7, 7);
}
.link1{
    color:#65B0C4;
}
@media screen and (max-width: 768px) {
    #wrapper {
    width: 100% !important; 
    padding:10px !important;
}
body{
    overflow-x:hidden;
}
.btn{
    margin:5px;
    padding:8px 12px;
    font-size:14px;
}
.arkaplan{
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:10px;
    gap:5px;
}
.başlık{
    padding:10px !important;
    text-align:center;
    font-size:22px;
}
.anasayfa{
    flex-direction:column;
    gap:10px;
}
.anasayfa img{
    width:100%!important;
    max-width: 100%;
    height: auto;
}
.blog{
    margin:10px !important;
}
.antalyafoto{
    margin:10px !important;
}
table,tbody, tr, td {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
}

   
table tr td,
tr td[align="center"]{
    margin-bottom: 5px;
    padding: 12px !important;
}

td[valign="top"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 20px;
}

   
.header-container table tr td {
    text-align: center !important;
    padding: 10px 0 !important;
}
    
   
img {
    width:100%;
    max-width: 270px !important;
    height: auto !important;
    display:block;
}
}